# Firebase Config
GEMINI_API_KEY=

# UniMatrix Config (SMS OTP)
UNIMATRIX_ACCESS_KEY=

# Firebase Admin (Required for Custom Login Tokens)
# Provide the Service Account JSON as a string
FIREBASE_SERVICE_ACCOUNT=
